body {
  background: rgb(20, 20, 20);
  color: white;
}

div {
  margin: auto;
  background-color: white;
  color: black;
  width: 650px;
  height: 40px;
}

form {
  margin: auto;
  background-color: white;
  color: black;
  width: 650px;
  height: 40px;
}

section {
  margin-top: 10px;
  margin: auto;
  width: 650px;
  height: 40px;
  background-color: white;
  color: black;
}