<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css'/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/tracks"><img src="https://www.pngkit.com/png/full/31-316559_white-home-icon-no-background.png" class="home-logo"></a></li>
            <li><a href="/logout"><img src="https://i.imgur.com/pN55Y25.png" class="logout-logo"></a></li>
        </ul>
    </nav>
    <form action="/tracks/<%= track._id %>/comments" method="POST">
        <input type="text">
        <input type="submit" value="Comment">
    </form>
    

</body>
</html>