<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wubble</title>
    <link rel="stylesheet" href='/stylesheets/style.css'/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="https://worldwaterskiers.com/wp-content/themes/WorldWaterSkiers/downloads/logos/W-Icon-White-Circle.png" class="corner"></a></li>
            <li><a href="/tracks"><img src="https://www.pngkit.com/png/full/31-316559_white-home-icon-no-background.png" class="home-logo"></a></li>
            <li><a href="/logout"><img src="https://i.imgur.com/pN55Y25.png" class="logout-logo"></a></li>
            <li><a href="https://www.soundcloud.com" target="_blank"><img src="https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg" class="soundcloud-logo"></a></li>
        </ul>
    </nav>
    <form action="/<%= track._id %>/comments" method="POST">
        <input type="text">
        <input type="submit" value="Comment">
    </form>
    <section>

    </section>
    
</body>
</html>