<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/style.css'/>
    <script defer src="javascripts/soundcloud.js"></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script type="text/javascript"></script>
    <title>Wubble Feed</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"><img src="https://worldwaterskiers.com/wp-content/themes/WorldWaterSkiers/downloads/logos/W-Icon-White-Circle.png" class="corner"></a></li>
        <li><a href="/tracks" id="disableTracks"><img src="https://www.pngkit.com/png/full/31-316559_white-home-icon-no-background.png" class="home-logo"></a></li>
        <li><a href="/logout"><img src="https://i.imgur.com/pN55Y25.png" class="logout-logo"></a></li>
        <li><a href="https://soundcloud.com/you/likes" target="_blank"><img src="https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg" class="soundcloud-logo"></a></li>
      </ul>
    </nav>

    

    <tr>
        <div class="container">
        </div>
            <script>

function uploadBtn(e) {
    const iframe = document.getElementById('sc-widget')
    const enable = document.getElementById('upload2')
    const link = document.getElementById('link')
    enable.addEventListener('click', function(e) {
        e.preventDefault()
        console.log('hi')
        iframe.src = `https://w.soundcloud.com/player/?url=${link.value}` 
    })
}
            </script>
            
            <iframe id="sc-widget" width="650px" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url="></iframe> 
            <div class="link">
                <button id="upload2" onclick='uploadBtn()'>Double Click</button>
                <form action="/tracks/link" method="POST">
                    <label>LINK:
                        <input type="Url" name="addTrack" id="link">
                    </label>
            </div>
            <div class="status">
                    <label>STATUS:
                        <input type="text" name="status" id="status">
                    </label>
                    <input type="submit" value="Upload" id="upload">
                </form>
            </div>
            <section>
            <% tracks.forEach(function(track) { %>
                <iframe id="sc-widget" width="650px" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= track.addTrack %>"></iframe> 
                <td><%= track.status %></td>
                <td><%= track.addComment %></td>
                <a href="/tracks/<%= track._id %>/comments" class="addComment" name="addComment">View Comments</a>
                <% }) %>
            </section>
            </div>
    </tr>
    <footer>
    </footer>
</body>
</html>