<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/public/javascript/soundcloud.js"></script>
    <link rel="stylesheet" href='/stylesheets/style.css'/>

    <title>Document</title>
</head>
<body>
    <tr>
        <div class="container"></div>
            <div class="link">
                <form action="/tracks" method="POST">
                    <label>LINK:
                        <input type="Url" name="addTrack" id="link">
                    </label>
            </div>
            <div class="status">
                    <label>STATUS:
                        <input type="text" name="status" id="status">
                    </label>
                    <input type="submit" value="Upload">
                </form>
            </div>
            <section>
            <% tracks.forEach(function(track) { %>
                <td><%= track.addTrack %></td>
                <td><%= track.status %></td>
                <td><%= track.addComment %></td>
                <a href="/tracks/<%= track._id %>/comments" class="addComment" name="addComment">Comments</a>
                <% }) %>
            </section>
            </div>
    </tr>
</body>
</html>
