<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tracks" method="POST">
        <label>LINK TO TRACK
            <input type="Url" name="addTrack">
        </label>
        <label>GENRE
            <select name="genre">
                <option value="COLOR-BASS">COLOR BASS</option>
                <option value="DUBSTEP">DUBSTEP</option>
                <option value="RIDDIM">RIDDIM</option>
            </select>
        </label>
        <label>STATUS
            <input type="text" name="status">
        </label>
        <input type="submit" value="Upload">
    </form>
</body>
</html>